<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Sequoia Speed Tests">
            <directory>phase3/tests</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>phase3/tests</directory>
            <file>index.php</file>
        </exclude>
    </coverage>
    
    <logging>
        <log type="coverage-html" target="phase3/reports/coverage"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>